{% extends 'layout.html' %}
{% block content %}
    <h2 class="mt-3 text-center">Youtube Video Downloader</h2>
    <div class="mt-2 text-center">
        Convert and download all YouTube videos to high quality .mp4 files, by just inputting the url.
    </div>
    <form method="POST">
        <input class="form-control mt-3" type="text" placeholder="Enter the YouTube video URL" aria-label="default input example" name="url">
        <button type="submit" class="btn btn-danger mt-3">Convert</button>
    </form>
{% endblock content %}